html
{
    margin:0;
    padding:0;
}
body
{
    font-family: 'Basic', sans-serif;
    font-size: 17px;
    margin:0;
    padding:0;
    width:640px;
    height:100%;
    margin:auto;
    background:white;
}
#wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 17px;
    margin-top: 10px;
    z-index:-99999;
}

/* Sliders */

.sliderDiv
{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 2px;
}

.val 
{
    font-size:23px;
    font-family: 'Basic', serif;
    font-weight: 400;
    margin-right: 10px;
}
.slider 
{
    width: 380px;
    border-radius: 5px;
    height: 0.9em;
    margin-bottom: -3px;
}

.slider:focus {
    outline: none;
}
.slider::-moz-range-thumb
{
    width: 0.5em;
    height: 0.9em;
    border-radius: 8px;
    border: 2px solid black;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5em;
    border-radius: 1em;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    width: 0.5em;
    height: 0.9em;
    border-radius: 8px;
    border: 2px solid black;
}
.slider::-moz-range-track
{
    width: 100%;
    height: 0.5em;
    border-radius: 1em;
}
#urlContainer 
{
	display:flex;
	justify-content:center;

	padding-top:0.6em;
	padding-bottom:0.3em;
	height:1.2em;

	position:relative;
	z-index:1;
}
#url {

	z-index:3;
	
	font-size: 100%;
	font-family: 'Helvetica', sans-serif;
	font-style: normal;
	color: navy;
	transition: opacity ease-out 0.1s;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
#refreshBtn
{
	position:absolute;
	bottom:-0.3em;
	opacity:0;
	z-index:2;
	
	cursor: context-menu;
	font-size:1em;
	font-weight:normal;
	color:navy;
	border: 2px solid navy;
	transition: opacity ease-in 0.3s;
}
#size-sliders
{
	border-left: 1px solid rgb(160, 160, 160);
	border-radius: 1em;
	margin-top:0.2em;
	margin-bottom:0.2em;
	padding-left:1em;
	
	display:flex;
	flex-direction:column;
	align-content:center;
}

/*Checkboxes*/
#checksContainer {
    margin-top:0.7em;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-size:0.97em;
    margin-bottom: -18px;
}
.separator{
    margin-right:0.1em;
    width:48%;
    margin-bottom:0.5em;
}
.separator div {
    margin-bottom:0.1em;
}
#sep{
    margin-left:0.1em;
    width:49%;
}

.separator:nth-child(3),
.separator:nth-child(4) {
    margin-bottom:0!important;
}

.option label:first-child {
    display: block;
    cursor: pointer;
}
/*Buttons/checkmarks*/


button,
input[type='button'],
select {
    font-size: 18px;
    height: 36px;
    cursor: pointer;
    text-align: center;
    font-family:"Basic";
    font-weight:normal;
    border-radius: 4px;
    transition: background-color 0.1s ease-out;
    color:black;
    background-color: #eee;
    border: 0.15em solid black;
}
button:hover,
input[type='button']:hover {
    color: white;
    background-color: black;
}
#refreshBtn:hover 
{
    transition: color ease-out 0.1s;
    transition: background-color ease-out 0.1s;
    color:white;
    background-color:navy;
}
#optionsBtn
{
    width:125px;
    align-self:flex-end;
    margin-bottom: auto;
}
input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.container {
	cursor: pointer;
	width: 30px;
	height: 18px;
	background: #000;
	display: block;
	border-radius: 18px;
	margin-top: -19px;
	position: relative;
	float: right;
}
input:checked ~ .checkmark:after {
	margin-left: 10px;
}
.checkmark:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: -1px -1px;
	background-image:url('../../assets/icons/circle.svg');
}
input:checked ~ .checkmark:after {
	position: absolute;
	background-image:url('../../assets/icons/circle.svg');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 9px -1px;
	background-color: #0f0;
	border-radius: 14px;
	color: #000;
	width: 24px;
	height: 14px;
	left: -7px;
	top: 2px;
}
